<div class="ssh-well">
  <div class="row">
    <div class="col-md-12">
      <h1>{{i18n 'admin.backup.shared.backup_title'}}</h1>
      <p> {{i18n 'admin.backup.shared.backup_description'}}</p>
    </div>
  </div>
</div>
{{backup-management-shared-users backup=backup users=users model=model }}
