<td>
 <div class="row">
    <div class="col-sm-6">
        <i class="glyphicon glyphicon-user">  <span>{{x}}</span></i>
    </div>
    <div class="col-sm-2">
        <span>{{active}}</span>
    </div>
    <div class="col-sm-4">
        <small class="label"><i class="glyphicon glyphicon-time"></i><span class="pad_l8">{{set_data}}</span></small>
    </div>
  </div>
</td>
