<div class="form-group">
    <label class="col-sm-4 control-label center" for="amount">Monthly Cost</label>
    <div class="col-sm-8">
        <input class="form-control" id="amount" type="hidden">
        <p class="price lead" id="amount-label2">{{format-currency monthlyCost  currency=currency}}/month</p>
    </div>
</div>
