<td>{{d-checkbox checked=checkedSubNet change="subNetChanged" checkbox_disabled=disable}}</td>
<td>{{content_title}}</td>
<td>{{text-field value=subNetIpsCount type="number" min=1 max=2 class="form-control h_32" placeholderKey="vm_management.network.testbox_label" disabled=enablesubNetIpsCounter}}</td>
