<table class="table tb_list">
        <thead>
            <tr>
                <th class="pad_l13 em_boarder_top">{{i18n 'profile_management.organization.user_name'}}</th>
                <th class="pad_l13 em_boarder_top">{{i18n 'profile_management.organization.email'}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="set_name">{{userName}}</td>
                <td class="set_title">{{email}}</td>
            </tr>
        </tbody>
    </table>
