<div class="pad_i_0 flavor-col-sm-4" style="background-color: #fff;">
  <div class="rInner middle">
    <div class="rBox shorter">
      <div class="rHead">
        <div class="rTitle">
          <span><b>{{rawimagename}}</b></span>
        </div>
        <div class="rContent">
          <p>
            <span><b>{{region}} </b></span>
            <br>
            <span><b>{{status}} </b></span>
            <br>
          </p>
        </div>
      </div>
      <div class="rFooter">
        {{launching-flavor-chooser name=rawimagename flavourable=flavourable}}
      </div>
    </div>
  </div>
</div>
