{{#if showApplicationUrl}}
<div class="col-md-6">
    <label><i class="fa fa-hdd-o"></i>App URL for {{content_title}}</label>
</div>
<div class="col-md-6">
    <a href="{{applicationUrl}}" target="_blank">{{ipAddress}}</a>
</div>
{{/if}}
