{{#link-to "vnc" (query-params id=model.id asms_id=model.asms_id name=name type=type) target="_blank" class=enableDisableVNC }}
        <span class="glyphicon glyphicon-random"></span> Console
{{/link-to}}
