<div class="signin login" style="height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="logo">
                <%= image_tag "#{SiteSetting.logo_url}" %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="container">
                <div class="row bottom-divider">
                    <h3><%= @message.html_safe %></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<%- content_for(:no_ember_head) do %>
<%= script "ember_jquery" %>
<%- end %>
