<div class="container-fluid ">
    <div class="row">
        {{#unless loading}}
            <div class="container" id="list-container">
                {{outlet "list-container"}}
            </div>
        {{/unless}}
    </div>
</div>
