
<div class="admin-container">
  <div class="content">
      <h3>License</h3>
      <p class="light">
          To start using Vertice EE, enter the <code>.vertice-license</code> you have received from <a href="https://www.megam.io">megam.io</a>
      </p>
      <hr/>
  </div>
    {{outlet}}
</div>
